body {
    font-family: Arial, sans-serif;
    background-color: #ffa799;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    color: #ffa799;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

input {
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    border: 1px #ffa799 solid;
    border-radius: 20px;
}

button {
    padding: 10px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ffa799;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #ffa799;
}

@media (max-width: 768px) {
    h2 {
        font-size: 28px;
    }

    button {
        font-size: 18px;
    }

    .game-container, .quiz-container, .joguinhos-container {
        width: 80%;
        padding: 20px;
    }

    .quiz-container li, .game-container button {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 24px;
    }

    button {
        font-size: 16px;
        padding: 8px 16px;
    }

    .game-container, .quiz-container, .joguinhos-container {
        width: 95%;
        padding: 15px;
    }

    .quiz-container li, .game-container button {
        font-size: 14px;
    }
}
